table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: white;
  }
  
  table, th, td {
    border: 1px solid #ddd;
  }
  
  th, td {
    padding: 12px 15px;
    text-align: left;
  }
  
  th {
    background-color: #34495e;
    color: white;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  tr:hover {
    background-color: #ddd;
  }
  
  button {
    padding: 5px 10px;
    margin-right: 5px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 40px;
  }

  .btn
  {
    width: 50px;
  }

  .edit{
    background-color: #2980b9;

  }
  
  button:hover {
    background-color: #0f90e7;
  }
  
  .pagination{
    display: flex;
    margin-top: 20px;
  }
  .ban{
    background-color: rgb(217, 106, 106);
  }
  .ban:hover
  {
    background-color: red;
  }